<h2>入金実績</h2>
<input-receipts :year="<%= @year %>" :month="<%= @month %>"></input-receipts>

<%#<h1><%= MonthlyReceipt.model_name.human +|</h1>%>

<%#<table class="ui table well-width">%>
<%#  <thead>%>
<%#    <tr>%>
<%#      <th><%= MonthlyReceipt.human_attribute_name :facility +|</th>%>
<%#      <th><%= MonthlyReceipt.human_attribute_name :year_month +|</th>%>
<%#      <th><%= MonthlyReceipt.human_attribute_name :amount +|</th>%>
<%#      <th colspan="3">操作</th>%>
<%#    </tr>%>
<%#  </thead>%>

<%#  <tbody>%>
<%#    <% @monthly_receipts.each do |monthly_receipt| +|%>
<%#      <tr>%>
<%#        <td><%= monthly_receipt.facility&.name +|</td>%>
<%#        <td><%= monthly_receipt.year_month +|</td>%>
<%#        <td><%= monthly_receipt.amount +|</td>%>
<%#        <td><%= link_to '編集', edit_monthly_receipt_path(monthly_receipt) +|</td>%>
<%#      </tr>%>
<%#    <% end +|%>
<%#  </tbody>%>
<%#</table>%>

<%#<br>%>

<%#<%= link_to '新規作成', new_monthly_receipt_path, class: 'ui primary button' +|%>
