<h2>支払い予定</h2>
<h4>＊: 実績</h4>
<table class="table ui">
  <colgroup>
    <col style="width: 20px">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>支払日</th>
      <th>取引先</th>
      <th>金額（円）</th>
      <th>摘要</th>
    </tr>
  </thead>
  <tbody>
    <% @shabot_receipts.each do |receipt| %>
      <tr>
        <td><%= '＊' unless receipt.planned %></td>
        <td><%= receipt.receipt_date.strftime('%Y/%m/%d') %></td>
        <td><%= receipt.receipt_from['name'] %></td>
        <td class="right aligned"><%= receipt.amount&.to_s(:delimited) %></td>
        <td><%= truncate(receipt.comment, length: 50, omission: '…') %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="warning">
      <td></td>
      <td></td>
      <td class="right aligned">合計</td>
      <td class="right aligned"><%= @shabot_receipts.map(&:amount).compact.sum&.to_s(:delimited) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>
