<table class="table ui">
  <colgroup>
    <col style="width: 120px">
  </colgroup>
  <thead>
    <tr>
      <th>年月</th>
      <th>日数</th>
      <th class="right aligned">発電実績(kwh)</th>
      <th class="right aligned">前月比(%)</th>
      <th class="right aligned">前年比(%)</th>
      <th class="right aligned">月間発電量予測(kwh)</th>
      <th class="right aligned">近隣日射量(MJ/m2)</th>
      <th class="right aligned">前年近隣日射量(MJ/m2)</th>
      <th class="right aligned">日当り実績発電量(kwh/日)</th>
      <th class="right aligned">日当りモジュールあたり実績発電量<br>(kwh/モジュール数・日)</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <% month_date = Date.strptime(record.month, '%Y%m') -%>
      <tr>
        <td><%= link_to month_date.strftime('%Y年%m月'), "/analysis/#{month_date.year}/#{month_date.month}/facilities/#{params[:facility_id]}" %></td>
        <td class="right aligned"><%= month_date.end_of_month.day %></td>
        <td class="right aligned">
          <% if record.kwh %>
            <%= record.mixed_kwh&.to_i&.to_s(:delimited) %>
            <% if record.estimate_remains_kwh && record.estimate_remains_kwh > 0 %>
              <br>
              (含予測値: <%= record.estimate_remains_kwh&.to_i&.to_s(:delimited) %>)
            <% end %>
          <% end %>
        </td>
        <td class="right aligned"><%= record.prev_month_rate&.round(1) if record.kwh %></td>
        <td class="right aligned"><%= record.prev_year_rate&.round(1) if record.kwh %></td>
        <td class="right aligned"><%= record.estimate_kwh&.to_i&.to_s(:delimited) %></td>
        <td class="right aligned"><%= record.solar_radiation %></td>
        <td class="right aligned"><%= record.prev_year_solar_radiation %></td>
        <td class="right aligned"><%= record.kwh_per_day&.to_i&.to_s(:delimited) %></td>
        <td class="right aligned"><%= record.kwh_per_day_per_unit&.round(3)&.to_s(:delimited) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="warning">
      <% year_mixed_kwh = @records.select(&:kwh).map(&:mixed_kwh).compact.sum %>
      <% prev_year_months = @records.select(&:kwh).map(&:month).map {|m| Date.strptime(m, '%Y%m').prev_year.strftime('%Y%m')} %>
      <% prev_year_mixed_kwh = @prev_year_records.select {|r| prev_year_months.include?(r.month) }.map(&:mixed_kwh).compact.sum %>
      <td>合計</td>
      <td></td>
      <td class="right aligned"><%= year_mixed_kwh.to_i.to_s(:delimited) %></td>
      <td></td>
      <td class="right aligned">
        <% if prev_year_mixed_kwh > 0 %>
          <%= (year_mixed_kwh / prev_year_mixed_kwh * 100.0).round(1) %>
        <% end %>
      </td>
      <td class="right aligned"><%= @records.map(&:estimate_kwh).compact.sum.to_i.to_s(:delimited) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
