<h4>売電事業シミュレーション</h4>
<table>
  <thead>
    <tr>
      <th rowspan="2">発電施設</th>
      <th rowspan="2">設備容量</th>
      <th rowspan="2">プレミアム<br>買取</th>
      <th rowspan="2"></th>
      <th colspan="12"><%= @year %>年度</th>
      <th rowspan="2"><%= @year %>年度<br>合計</th>
      <th rowspan="2"><%= @year + 1 %>年度<br>合計</th>
      <th rowspan="2"><%= @year + 2 %>年度<br>合計</th>
      <th rowspan="2"><%= @year + 3 %>年度<br>合計</th>
      <th rowspan="2"><%= @year + 4 %>年度<br>合計</th>
    </tr>
    <tr>
      <% (1..12).each do |month| %>
        <th><%= month %>月</th>
      <% end %>
    </tr>
  </thead>
  <% sum_facility_kw = 0 %>
  <% sum_kwh_records = Array.new(12, 0) %>
  <% sum_sales_records = Array.new(12, 0) %>
  <tbody>
    <% @records.each do |record| %>
      <% year_sum_kwh = record.mixed_monthly_solars.map(&:mixed_kwh).sum  %>
      <% year_sum_sales = record.facility.kwh_to_sales(year_sum_kwh) %>
      <% facility_kw = record.facility.last_capacity&.value %>
      <% sum_facility_kw += facility_kw  %>
      <tr>
        <td rowspan="2"><%= record.facility.name %></td>
        <td align="right" rowspan="2"><%= delimited_int facility_kw %> kw</td>
        <td align="center" rowspan="2"><%= '有' if record.facility.sales_type.premium?%></td>
        <td>発電実績(kwh)</td>
        <% record.mixed_monthly_solars.each_with_index do |solar, idx| %>
          <% sum_kwh_records[idx] += solar.mixed_kwh %>
          <td align="right"><%= delimited_int solar.mixed_kwh %></td>
        <% end %>
        <td align="right"><%= delimited_int year_sum_kwh %></td>
        <% (1..4).each do |i| %>
          <td align="right"><%= delimited_int (year_sum_kwh * (MonthlySolar::DEGRADE_RATE ** i) ) %></td>
        <% end %>
      </tr>
      <tr>
        <td>売電金額(千円)</td>
        <% record.mixed_monthly_solars.each_with_index do |solar, idx| %>
          <% sum_sales_records[idx] += record.facility.kwh_to_sales(solar.mixed_kwh) %>
          <td align="right"><%= (record.facility.kwh_to_sales(solar.mixed_kwh).to_i / 1000).to_s(:delimited) %></td>
        <% end %>
        <td align="right"><%= delimited_int(year_sum_sales / 1000) %></td>
        <% (1..4).each do |i| %>
          <td align="right"><%= delimited_int (year_sum_sales * (MonthlySolar::DEGRADE_RATE ** i) ) %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td rowspan="2">合計</td>
      <td rowspan="2" align="right"><%= delimited_int sum_facility_kw %> kw</td>
      <td rowspan="2"></td>
      <td>発電実績(kwh)</td>
      <% sum_kwh_records.each do |kwh| %>
        <td align="right"><%= delimited_int kwh %></td>
      <% end %>
      <% sum_kwh_records_sum = sum_kwh_records.sum %>
      <td align="right"><%= delimited_int sum_kwh_records_sum %></td>
      <% (1..4).each do |i| %>
        <td align="right"><%= delimited_int (sum_kwh_records_sum * (MonthlySolar::DEGRADE_RATE ** i) ) %></td>
      <% end %>
    </tr>
    <tr>
      <td>売電金額(千円)</td>
      <% sum_sales_records.each do |sales| %>
        <td align="right"><%= delimited_int(sales/1000)%></td>
      <% end %>
      <% sum_sales_records_sum = sum_sales_records.sum %>
      <td align="right"><%= delimited_int(sum_sales_records_sum/1000) %></td>
      <% (1..4).each do |i| %>
        <td align="right"><%= delimited_int(sum_sales_records_sum * (MonthlySolar::DEGRADE_RATE ** i) / 1000) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
