<%= form_with(model: facility, local: true, html: {class: 'ui form'}) do |form| %>
  <% if facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'activerecord.errors.messages.record_invalid', errors: '' %></h2>

      <ul>
      <% facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :latitude %>
      <%= form.text_field :latitude%>
    </div>

    <div class="field">
      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>
  </div>

  <div class="three fields">
    <div class="field">
      <%= form.label :jma_place_id %>
      <%= form.select :jma_place_id, JmaPlace.options, {include_blank: true}, class: 'ui fluid dropdown' %>
    </div>
    <div class="field">
      <%= form.label :nedo_place_id %>
      <%= form.select :nedo_place_id, NedoPlace.options, {include_blank: true}, class: 'ui fluid dropdown' %>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <%= link_to '近隣の観測所を設定', set_nearest_facility_path(facility), remote: true, class: 'ui button' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :sales_type %>
    <%= form.select :sales_type, Facility.sales_type.options, {}, class: 'ui fluid dropdown' %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price %>
  </div>

  <div class="three fields">
    <div class="field">
      <%= form.label :capacity_value %>
      <%= form.number_field :capacity_value %>
    </div>
    <div class="field">
      <%= form.label :capacity_unit_count %>
      <%= form.number_field :capacity_unit_count %>
    </div>
    <div class="field">
      <%= form.label :capacity_date %>
      <%= form.date_field :capacity_date, pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}", placeholder: 'yyyy-mm-dd' %>
    </div>
  </div>

  <% if form.object.facility_capacities.present? %>
    <h2>設備容量変更履歴</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th>設備容量(kW)</th>
          <th>ユニット数</th>
          <th>変更日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% form.object.facility_capacities.order(date: :desc).each do |capacity| %>
          <tr>
            <td><%= capacity.value %></td>
            <td><%= capacity.unit_count %></td>
            <td><%= capacity.date %></td>
            <td>
              <%= link_to '削除', capacity, method: :delete, data: { confirm: '削除してもいいですか？' }, class: 'ui red button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2>Solars発電所データ連携設定</h2>
  <div id="facility_aliases">
    <%= form.fields_for :facility_aliases do |facility_alias| %>
      <%= render 'facility_alias_fields', f: facility_alias %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '＋連携情報追加', form, :facility_aliases %>
    </div>
  </div>
  
  <br>
  <br>

  <h2>Shabotプロジェクトデータ連携設定</h2>
  <div id="facility_projects">
    <%= form.fields_for :facility_projects do |facility_project| %>
      <%= render 'facility_project_fields', f: facility_project %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '＋連携情報追加', form, :facility_projects %>
    </div>
  </div>

  <br>
  <br>

  <hr>

  <div class="actions">
    <%= link_to '削除', facility, method: :delete, data: { confirm: '削除してもいいですか？' }, class: 'ui red button' %>
    <%= form.submit(form.object.new_record? ? '作成' : '更新', class: 'ui primary button') %>
  </div>
<% end %>
