<h1><%= Facility.model_name.human %></h1>

<table class="ui table well-width" style="width: 80% !important">
  <thead>
    <tr>
      <th><%= Facility.human_attribute_name :name %></th>
      <th><%= Facility.human_attribute_name :latitude %></th>
      <th><%= Facility.human_attribute_name :longitude %></th>
      <th><%= Facility.human_attribute_name :capacity_value %></th>
      <th><%= Facility.human_attribute_name :unit_price %></th>
      <th><%= Facility.human_attribute_name :sales_type %></th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= facility.latitude %></td>
        <td><%= facility.longitude %></td>
        <td class="right aligned"><%= facility.capacity_value&.to_s(:delimited) %></td>
        <td class="right aligned"><%= facility.unit_price  %></td>
        <td><%= facility.sales_type_text %></td>
        <td><%= link_to '編集', edit_facility_path(facility) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_facility_path, class: 'ui primary button' %>
