<%= link_to '戻る', facilities_path, class: 'ui button' %>

<table class="ui table definition">
  <tr>
    <td width="100">施設名</td>
    <td><%= @facility.name %></td>
  </tr>
  <tr>
    <td>緯度</td>
    <td><%= @facility.latitude %></td>
  </tr>
  <tr>
    <td>経度</td>
    <td><%= @facility.longitude %></td>
  </tr>
</table>

<%= link_to '編集', edit_facility_path(@facility), class: 'ui button primary' %>
