<!DOCTYPE html>
<html>
  <head>
    <title>Solvision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# self hosting したいのだが、うまくいってないので、一先ずCDNリンク %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="mdc-typography">
    <div id="vue_root">
      <%= render 'layouts/nav' %>
      <div class="root_container">
        <message-bar :init-message="'<%= notice.presence || alert.presence || '' %>'"></message-bar>
        <spinner></spinner>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
